.card_heigth{
    height: 150px;
}

.result_style{
    border: 1px solid white;
    background-color: black;
    color: antiquewhite;
}
body{
    background-image: url(../img/dice.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
main{
    height: 100vh;
    overflow-y: auto;
}